*{
    margin: 0;
}


body{
   background-color: black;
}

.title{
color:white;
font-family: 'Bungee Inline', cursive;
text-align: center;
font-size: 3rem;
margin: 3rem;
}

main{
    font-family: 'Roboto', sans-serif;
}

#filmList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{
    margin: 1em;
    z-index: 1;
}

figcaption{
    text-align: center;
    background-color: black;
    color: #fff;
    font-family: 'Bungee Inline', cursive;
    font-size: 1.5rem;
    z-index: 1;
}