*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


button.navbutton{

}

.pokeGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
width: 200px;
height: 260px;

margin: 10px;
box-shadow: 3px 3px 6px;
}

.card {
    width: 100%;
    height: 100%;
    cursor:pointer;
    position:relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
    
  }

  .card__face--front {
    background-image: linear-gradient(to right, blue, cyan);

  }
  
  .card__face--back {
    background-image: linear-gradient(to right, red, orange);
    transform: rotateY(180deg);
  }

  #submitButton {
    color: blue;
  }