:root {
    margin: 0;
    box-sizing: border-box;
}
.title{
    color:white;
    font-family: 'Bungee Inline', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 3rem;


}
main {
    display: flex;
    height:100vh;
    font-family: 'Roboto', sans-serif;
}

.shipView {
    margin: 13rem;
}

nav {
    width: 200px;
}

img, nav{
    position:relative;
    z-index: 1;
}



li {
    list-style-type:none;
    padding-top:10px;

}


a {
    color:white;
    text-decoration: none;
}


ul li:hover {
color:yellow;
}

