:root {
    margin: 0;
    box-sizing: border-box;
}
.title{
    color:white;
    font-family: 'Bungee Inline', cursive;

}
main {
display: flex;
height:100vh;
font-family: 'Roboto', sans-serif;
}

.shipView {
    display:flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 200px;
}

img, nav{
    position:relative;
    z-index: 1;
}


body{

}

li {
list-style-type: none;
}


a {
color:white;
text-decoration: none;
}

ul li:hover {
color:yellow;
}

