*{
    margin:0;
    box-sizing: border-box;
    background-color: black;
    color:white;
}
button {
   
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


figure > img {
height:200px;
}

figcaption{
    text-align: center;
}