*{
    margin:0;
    box-sizing: border-box;
    background-color: black;
    color:white;
    
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.title{
text-align: center;
font-family: 'Bungee Inline', cursive;
}


figure > img {
height:200px;
}

figcaption{
    text-align: center;
}

button{
width:100px;
height:50px;
align-items: center;
}
