* {
    margin:0;
    box-sizing: border-box;
    background-color: black;
    color: white;   
}

header {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 3rem;
}


button {
  border: 0;
  padding: 1rem;
  margin:2rem 0 3rem 0;
  font-size: 1.3rem;
  font-family: 'Oranienbaum', serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #000;
  border-radius: 10px;
  background-color: teal;
  box-shadow: 
  inset 2px 2px 3px rgba(255, 255, 255, .6),
  inset -2px -2px 3px rgba(0, 0, 0, .6);
}

    
button:hover {
    color: yellow;
}


#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: .5rem;
}

.title {
text-align: center;
font-family: 'Bungee Inline', cursive;
margin: 3rem;
}


figure > img {
height:200px;
}

figcaption {
    text-align: center;
}

