*{
    margin:0;
    box-sizing: border-box;
}

h1#congressHeader{
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 2.5rem;
    background-image: linear-gradient(to bottom, red, blue);
    padding: 2rem;
    color: white;
    box-shadow: 5px 5px 10px black;
}



body{
background-color:lavender;
font-family: 'Roboto', sans-serif;
box-shadow: inset 5px 5px 10px black;
}

div#buttonHeader { 
    display: flex;
    justify-content: space-around;
}

button.navButton{
    border: 0;
    padding: 1rem;
    margin:2rem 0 1rem 2rem;
    font-size:1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:white;
    text-shadow: 1px 1px 2px #000;
    border-radius: 10px;
    background-color:slateblue;
    box-shadow: 
    inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  }

.figureDiv {
    padding: 1rem 1rem 1rem 1rem;
    margin: 6px;
    border: 1px solid #333;
    box-shadow: 3px 3px 3px black;
    background-color: white;
    }
    
.congressGrid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}


figure {
    max-width: 100px;
}

figcaption{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top:5px;
}

