*{
    margin:0;
    box-sizing: border-box;
}

.figureDiv {
    padding: 6px;
    margin: 6px;
    border: 1px solid red;
    box-shadow: 3px 3px 3px black;
    }
    
.congressGrid{
    display:flex;
    flex-wrap: wrap;
}


figure {
    max-width: 100px;
}

figcaption{
    text-align: center;
}

